*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 .contenedor{
    padding: 10px;
    margin: 1%;
    border: 0px solid grey;
 }
 
p{
  align-content: center;
  font-size:  30px;
  
}

img{
  height: 90%;
  width:  70%;
  
}